<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Application/Login</title>
    <!-- ----------------------------------- -->
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <form action="/userLogin">
        <label for="email">Enter Email</label>
        <input type="email" name="email" required> 
        <label for="password">Enter password</label>
        <input type="password" name="password" required>
        <button type="submit">Submit</button>
    </form>

    <a href="/signup">SIgn Up</a> -->
    <!-- -------------------------------------- Login In -------------------------------- -->

    <div class="sign-in-container">
        <div class="sign-column s1">
            <div class="sign-column-face s2">
                <div class="s3">
                    <div class="sign-header-section">
                        <div class="sign-in-title">
                            Login Page
                        </div>
                        <div class="sign-in-title-alt">
                            Chat Application
                        </div>
                    </div>
                    <div class="sign-buttons">
                        <a href="#" class="login-w-button">
                            <img width="18" height="18" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />
                            <span>Sign in with Google</span>
                        </a>
                        <a href="#" class="login-w-button">
                            <img width="18" height="18" src="https://img.icons8.com/ios-filled/50/mac-os.png" alt="mac-os" />
                            <span>Sign in with Apple</span>
                        </a>
                    </div>
                    <div class="slice-container">
                        <div class="slice-text-c">
                            <div class="slicer"></div>
                            <div class="slice-text">Or with email</div>
                        </div>
                    </div>
                    <div class="input-container">
                        <form id="login-form" action="/auth/login" method="post">
                            <!-- <input type="email" required placeholder="Email"> -->
                            <input type="email" name="email" required placeholder="Email"> 
                            <!-- <input type="password" required placeholder="Passowrd"> -->
                            <input type="password" name="password" required placeholder="Passowrd">
                            <button type="submit">Sign in</button>
                        </form>
                        <a href="#" class="alt-f">
                            Forgot Password ?
                        </a>
                        <div href="#" class="alt-f-full">
                            Not a Member yet ?
                            <a href="/signup" class="alt-f">
                                Sign up
                            </a>
                        </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="sign-column w2">
            <div class="intro-p">
                <div class="canvas-logo">
                    <img src="https://images.unsplash.com/photo-1496200186974-4293800e2c20?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="logo">
                </div>

                <div class="intro-content">
                    <div class="intro-title">
                        Lorem ipsum dolor sit amet
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------  -->
    <script>
    </script>
</body>
</html>